.box2{
	width:  100%;
	height: 240px;
	margin: 0 auto;
	background: url(../images/1478226907133140.jpg) no-repeat;
	background-size: 100%;
}
.box4{
	width: 1200px;
	height: 656px;
	margin: 0 auto;
}

.box4 .box4b{
	width: 960px;
	height: 610px;
	margin-top: 16px;
	float: right;
	margin-top:30px;
	overflow: hidden;
}
.box4 .box4b li{
	width: 218px;
	height: 182px;
	float: left;
	margin-left: 14px;
	margin-top:26px;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
}
.box4 .box4b li:first-child,
.box4 .box4b li:nth-child(2),
.box4 .box4b li:nth-child(3),
.box4 .box4b li:nth-child(4){
	margin-top:8px;
}
.box4 .box4b li:hover {
	color: blue;
}

.box5{
	width: 180px;
	height: 90px;
	margin: 0 auto;
}
.box5 div:nth-child(2){
	width: 25px;
	height: 25px;
	text-align: center;
	float: left;
	margin-top:30px;
}
.box5 div:nth-child(3){
	width: 25px;
	height: 25px;
	text-align: center;
	float: left;
	margin-top:30px;
}
.box5 div:nth-child(1),
.box5 div:nth-child(4){
	width: 57px;
	height: 30px;
	text-align: center;
	float: left;
	margin-top:30px;
	color: black;
}
.box5 a{
	text-decoration: none;
	color: black;
}
.box5 div:hover a {
	display: block;
	background-color: red;
}
.box4b img:hover {
	display: block;
	width: 220px;
	height: 186px;
	
}
